@import "../../../../style/variables.scss";

.header {
  background-color: $backgroud-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 6rem;
  min-width: $min_screen_with;
  padding: $body_padding;

  .headerTitle {
    color: $text_default_light_color;
    font-family: $font_default_family;
    font-size: 1.25rem;
  }
}
