@import "../../../style/variables.scss";

.header {
  text-align: left;
  background-color: $backgroud-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 6rem;
  padding: $body_padding;
  width: 100%;
  .headerTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .headerTitle {
      color: $text_default_light_color;
      font-family: $font_default_family;
      font-size: 1.25rem;
      min-width: 300px;
    }
  }
}
