@import "../../../../style/variables.scss";

.navBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $eleventh-color;
  border: none;
  color: $quaternary-color;
  cursor: pointer;
  font-family: $font_default_family;
  font-size: 14px;
  height: 40px;
  width: 110px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  white-space: nowrap;

  @media (max-width: 670px) {
    margin: 1rem 0.2rem 0 0.2rem;
    padding: 0.5rem;
    width: 100px;
  }

  svg {
    width: 1.2rem;
  }
}

.navBtnNext {
  background-color: $primary-color;
}
