@import "../../../../style/variables.scss";

.spin {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.gallery {
  background-color: $denary-color;
  font-family: $font_default_family;
  margin: auto;
  padding: 1rem $body_padding;

  li {
    list-style-type: none;
  }

  .galleryList {
    display: grid;
    margin: 1rem auto;
    padding: 0;

    @media (max-width: 470px) {
      grid-template-columns: repeat(auto-fit, minmax($min_width_card, 1fr));
      gap: 0.5rem;
    }
    @media (min-width: 470px) {
      grid-template-columns: repeat(2, minmax($min_width_card, 1fr));
      gap: 0.5rem;
    }
    @media (min-width: 940px) {
      grid-template-columns: repeat(4, minmax($min_width_card, 1fr));
      gap: 0.5rem;
    }
  }
}

.btnContainer {
  min-width: 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.galleryMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .galleryPage {
    font-family: $font_default_family;
    color: $quinary-color;
    font-size: 14px;
  }
}
