// Overall site style
$backgroud_color: #fafafa;
$body_padding: 1rem;
$border-radius-1: 0;
$font_default_family: "OpenSansYtoKRegular", sans-serif;
$gallery_item_background_color: white;
$min_screen_with: 300px;
$text_default_light_color: #000000;
$text_default_dark_color: #000000;
$default_grey_color: #eeeeee;

$primary-color: #cf2121;
$secondary-color: #242a32;
$tertiary-color: #323a45;
$quaternary-color: #ffffff;
$quinary-color: #4b5159;
$senary-color: #a6a9ae;
$septenary-color: #999999;

// Gallery cards
$min_height_card: 300px;
$min_width_card: 200px;
